@charset "utf-8";

body {
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0px;
	font-weight: normal;
	background-color: rgb(255, 255, 255)
}

header {
	padding: 5px;
	margin-bottom: 10px;
	height: 50px;
	background-color: rgb(255, 255, 255);
	color: #fff;
	box-shadow: 0px 2px 2px #ccc;
	display: grid;
}

#conteudo {
	padding: 0px 10px;
}


footer {
	border-top: 1px solid #ccc;
	padding: 5px 8px;
	margin-top: 20px;
	margin-bottom: 10px;
	text-align: center;
	color: rgb(128, 128, 128);
}

h2 {
	font-size: 24px;
	font-weight: 500;
	padding: 0px;
	margin: 10px;
	margin-bottom: 10px;
	color: rgb(128, 128, 128);
	text-align: center;
}